### 1. Tuple
##### 內容不可變、功能少、占空間小（若不希望內容被更動到時使用）

In [10]:
x = (1,2,3)
x

(1, 2, 3)

In [11]:
x[2] = 10

TypeError: 'tuple' object does not support item assignment

In [12]:
x = [1,2,3]
x

[1, 2, 3]

In [14]:
x[2] = 10
x

[1, 2, 10]

In [19]:
x = (1,2,3,1.2121,'s',[1,2,3],(1,2,3))
x

(1, 2, 3, 1.2121, 's', [1, 2, 3], (1, 2, 3))

In [18]:
x[5]

[1, 2, 3]

In [20]:
type(x)

tuple

In [4]:
x[3]

1.2121

In [5]:
y = list(x)
y

[1, 2, 3, 1.2121, 's', [1, 2, 3], (1, 2, 3)]

In [6]:
y[3] = 1
y

[1, 2, 3, 1, 's', [1, 2, 3], (1, 2, 3)]

### 2. 串列（List）
##### 內容可變、功能多（常用）

In [17]:
slist = [1,2,3,4,[1,2],'s']
slist

[1, 2, 3, 4, [1, 2], 's']

##### 在最後增加單一個項目 => append

In [27]:
slist

[1,
 2,
 3,
 4,
 [1, 2],
 's',
 [2, 4, 6],
 'apple',
 'banana',
 'banana',
 'banana',
 'banana']

In [26]:
slist.append('banana')
# slist
print(len(slist))

12

##### 在最後增加一個串列 => extend

In [28]:
# slist.extend([0,0,0])
slist

[1,
 2,
 3,
 4,
 [1, 2],
 's',
 [2, 4, 6],
 'apple',
 'banana',
 'banana',
 'banana',
 'banana']

In [30]:
slist.extend([0,0,0])
slist

[1,
 2,
 3,
 4,
 [1, 2],
 's',
 [2, 4, 6],
 'apple',
 'banana',
 'banana',
 'banana',
 'banana',
 0,
 0,
 0,
 0,
 0,
 0]

##### 在指定位置插入一個項目 => insert

In [32]:
slist.insert(5,'apple')
slist

[1,
 'A',
 2,
 3,
 4,
 'apple',
 [1, 2],
 's',
 [2, 4, 6],
 'apple',
 'banana',
 'banana',
 'banana',
 'banana',
 0,
 0,
 0,
 0,
 0,
 0]

##### 刪除指定位置項目 => del

In [34]:
del slist[4]
slist

['A',
 2,
 3,
 4,
 [1, 2],
 's',
 [2, 4, 6],
 'apple',
 'banana',
 'banana',
 'banana',
 'banana',
 0,
 0,
 0,
 0,
 0,
 0]

##### 移出（同時刪除）串列項目=> pop

In [35]:
slist

['A',
 2,
 3,
 4,
 [1, 2],
 's',
 [2, 4, 6],
 'apple',
 'banana',
 'banana',
 'banana',
 'banana',
 0,
 0,
 0,
 0,
 0,
 0]

In [49]:
slist.pop(6)

'apple'

In [50]:
slist

[2, 3, 4, [1, 2], 's', [2, 4, 6], 'banana', 'banana', 'banana']

In [51]:
slist

[2, 3, 4, [1, 2], 's', [2, 4, 6], 'banana', 'banana', 'banana']

In [14]:
slist.pop(0)
slist

[2, 3, 4, [1, 2], 's', [2, 4, 6], 0, 0]

##### 找出項目值的位置 => index

In [57]:
slist

[2, 3, 4, [1, 2], 's', [2, 4, 6], 'banana', 'banana', 'banana']

In [58]:
slist.index('banana')

6

In [16]:
slist[2]

4

##### 判斷項目是否存在於list中 => in

In [61]:
4 in slist

True

##### 排序（Sorting）

In [71]:
slist = ['B','A','C','Z','Y']
slist

['B', 'A', 'C', 'Z', 'Y']

In [72]:
sorted(slist)

['A', 'B', 'C', 'Y', 'Z']

In [74]:
slist

['B', 'A', 'C', 'Z', 'Y']

In [75]:
slist.sort()

In [76]:
slist

['A', 'B', 'C', 'Y', 'Z']

In [67]:
slist = [4,2,1,5,3]
slist.sort()

In [68]:
slist = [4,2,1,5,3]
# slist.sort()
# slist

In [69]:
sorted(slist)

[1, 2, 3, 4, 5]

### 3. 字典（Dictionary）
##### 字典是 key, value pair，key要使用獨一無二的值（若使用到相同的key，會覆蓋原有的key value pair）

In [80]:
dic = {'Jack':65,'Ben':98,'Andy':87}
dic

{'Jack': 65, 'Ben': 98, 'Andy': 87}

In [78]:
type(dic)

dict

##### 新增 /合併字典 => update

In [81]:
dic.update({'Cathy':90})
dic

{'Jack': 65, 'Ben': 98, 'Andy': 87, 'Cathy': 90}

In [83]:
dic.update({'Cathy':87})
dic

{'Jack': 65, 'Ben': 98, 'Andy': 87, 'Cathy': 87}

In [85]:
dic['Jack']

65

##### 刪除項目 => del

In [86]:
del dic['Andy']
dic

{'Jack': 65, 'Ben': 98, 'Cathy': 87}

##### 判斷 key是否存在

In [87]:
'Andy' in dic

False

In [88]:
dic

{'Jack': 65, 'Ben': 98, 'Cathy': 87}

##### 取得所有的 key

In [90]:
dic.keys()

dict_keys(['Jack', 'Ben', 'Cathy'])

In [93]:
list(dic.keys())[2]

'Cathy'

##### 取得所有的 value

In [98]:
list(dic.values())[2]

87

##### 取得所有的key value pair

In [106]:
list(dic.items())[0][1]

65

In [108]:
slist[3]

'Y'

### 4. 集合（Set）
#####  Set裡的值不會有重複（若有相同的值，程式會自動刪除）

In [142]:
set1 = {1,2,3,4,5,5,5}
set1

{1, 2, 3, 4, 5}

In [124]:
1 in set1

True

In [122]:
for i in set1:
    print(i)

1
2
3
4
5

##### 增減項目

In [111]:
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [112]:
set1.remove(6)
set1

{1, 2, 3, 4, 5}

##### 集合運算

In [128]:
set2 = {2,4,6,8,10}

In [129]:
set1 & set2

{2, 4}

In [130]:
set1.intersection(set2)

{2, 4}

In [145]:
set1 = {1,2,3,4,5,5,5}
set2 = {2,4,6,8,10}

In [140]:
set1

{1, 3, 5, 7, 9}

In [132]:
set1|set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [117]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 8, 10}

In [138]:
set1-set2

{1, 3, 5, 7}

In [21]:
set1 = {1,2,3,4,5,5,5}
set2 = {2,4,6,8,10}

# 子集合
# set1 = {1,2,3}
# set2 = {1,2,3,4}

In [22]:
# <：測試左集合是否是右集合的子集合
set1 < set2

False

In [17]:
set1<set2

True

In [ ]:
set1>=set2